* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(180deg, #EBF9FF 15.63%, #FFFFFF 27.01%, #FFFFFF 100%);
}

a {
    display: block;
    text-decoration: none;
}

.container {
    margin: auto;
    width: 1110px;

}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.startButton {
    border: 0px;
    width: 140px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    background: #6957ED;
    border-radius: 8px;
    color: white;

}

.menu {
    display: flex;
}

.menu #nav {
    width: 100px;
    height: 23px;
}

.menu a {
    display: block;

    text-decoration: none;
    color: #0E0D4C;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    transition: 0.1s ease-in-out;
}

.menu a:hover {
    font-size: 18px;
}

/* firstSection */

.firstSection {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 150px;
}

.text {
    width: 491px;
    margin-top: 80px;
}

.firstImage {
    width: 600px;
}

.text h1 {
    width: 453px;
    font-weight: 500;
    font-style: normal;
    font-size: 38px;
    line-height: 57px;
    background-image: url(/image/rombs.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-top: 8px;
    padding-left: 5px;
}

.text p {
    width: 486px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #5B6996;
    padding-left: 7px;
    margin-top: 30px;
}

.text h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left: 5px;
    color: #0E0D4C;
    margin-top: 30px;
    margin-bottom: 25px;
}



.users {
    margin-top: 30px;
}

.users p {
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
}

/* secondSection */

h5 {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */


    color: #0E0D4C;
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}


.secondImage {
    background-image: url(/image/phone.png);
}

.secondText {
    margin-top: 100px;
}

.secondText h3 {
    font-weight: 500;
    padding-left: 10px;
    font-size: 30px;
    line-height: 45px;
    background-image: url(/image/Ellipse.png);
    background-repeat: no-repeat;
    color: #0E0D4C;
    width: 358px;
}

.secondText p {
    width: 491px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
    padding-left: 10px;


    color: #5B6996;
}

.secondText h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left: 5px;
    color: #0E0D4C;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-left: 10px;
}

.linksForApps {
    display: flex;
    padding: 10px;
    width: 300px;
    justify-content: space-between;
}

/* sectionThree */

.sectionThree {
    margin-top: 90px;
    height: 453px;
    background-color: #F7F9FF;
}

.sectionThree h2 {
    padding-top: 40px;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    color: #0E0D4C;
}

.comments {
    display: flex;
    justify-content: space-between;
}

.userComment {
    width: 350px;
    height: 225px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.07);
    border-radius: 15px;
    background-image: url(/image/user1.png);
    background-position: -25px 0px;
    margin-top: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* sectionFour */

.info {
    display: flex;
}

.textInfo {
    width: 494px;
    height: 504px;
    margin-top: 150px;
}

.textInfo h3 {
    width: 435px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;

    color: #0E0D4C;
}

.textInfo p {
    width: 453px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
    /* or 167% */


    color: #5B6996;
}

h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left: 5px;
    color: #0E0D4C;
    margin-top: 30px;
    margin-bottom: 25px;
}

.infoImg {
    width: 615px;
    height: 740px;
    background-image: url(/image/secondImg.png);
    background-position: -138px -50px;

}

.secondInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.secondInfoImg {
    width: 580px;
    height: 610.89px;
    background-image: url(/image/Group1445.png);

}

.secondTextInfo {
    width: 445px;
    margin-top: 80px;
}

.secondTextInfo h3 {
    width: 399px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;

    color: #0E0D4C;
}

.secondTextInfo p {
    font-size: 18px;
    line-height: 30px;
    /* or 167% */


    color: #5B6996;
    margin-top: 15px;
}

/* footer */

.colums {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    margin-top: 40px;
    color: #0E0D4C;
}

li {
    margin-top: 15px;
}

.colums a {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #0E0D4C;
}

.logo {
    width: 97px;
}

.colums img {
    margin-top: 8px;
}

#footer{
    font-size: 13px;
line-height: 24px;
/* or 185% */
margin: auto;
margin-top: 40px;
text-align: center;
width: 1018px;
color: #5B6996;
}
























.quizButtons {
    display: flex;
    width: 100%;
}

.maleButton {
    display: flex;
    width: 147px;
    height: 45px;
    align-items: center;
    background: #6957ED;
    border-radius: 8px;
    justify-content: space-between;

}

.maleButton p {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 8px;
    width: 80px;

}

.maleButton a {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35px;
    height: 41px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-right: 2px;
    transition: 0.2s ease-in-out;

}

.femaleButton {
    display: flex;
    width: 147px;
    height: 45px;
    align-items: center;
    background: #FF3B63;
    border-radius: 8px;
    justify-content: space-between;
    margin-left: 20px;

}

.femaleButton p {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 8px;
    width: 80px;

}

.femaleButton a {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35px;
    height: 41px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-right: 2px;
    text-align: center;
    transition: 0.2s ease-in-out;

}

.femaleButton a:hover {
    width: 55px;
}

.maleButton a:hover {
    width: 55px;
}